body {
  font-family: Roboto, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logotype {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 156px;
  margin-right: 76px;
}
.logotype .name {
  color: #2e2f42;
}
.link-nav {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  padding: 24 0;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
  text-decoration: underline;
}

.address-text-fontstyle {
  font-style: normal;
}
.contact-decoration {
  color: #434455;
  text-decoration: none;
  font-weight: 400;
}

.contact-decoration:hover,
.contact-decoration:focus {
  color: #404bbf;
  text-decoration: underline;
}

.h-text {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-top: 188px;
  margin-right: auto;
  margin-left: auto;
  width: 496px;
  margin-bottom: 48px;
}
.hh-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hhh-text {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}
.buttons {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.buttons:hover,
.buttons:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* задний фон первой секции */
.titel-style {
  /* background-color: #2e2f42; */
  /* text-align: center; */
}
.advantage-style {
  color: #2e2f42;
  font-weight: 500;
}
.team-style {
  background-color: #f4f4fd;
}
.main_text {
  color: #434455;
}
.hh-text-center {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-member {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.name-futer-span {
  color: #f4f4fd;
}
.color-text-futer {
  color: #f4f4fd;
}
.info-futer {
  background-color: #2e2f42;
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
/* .header-main {
  border-bottom: 1px solid #e7e9fc;
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.conteiner {
  margin: 0 auto;
}
.link-font {
  display: flex;
  column-gap: 40px;
  margin-right: 332px;
}
* {
  outline: 1px solid teal;
}
.heder-style {
  border-bottom: 1px solid #e7e9fc;
}
.link-adress {
  display: flex;
  column-gap: 40px;
}
.vmist-header {
  height: 72px;
  display: flex;
  align-items: center;
}
.header-conteiner-nav {
  display: flex;
}
.vmist-titel {
  height: 600px;
  background-color: #2e2f42;
  text-align: center;
}
.advantage-items {
  display: flex;
  column-gap: 24px;
  align-items: stretch;
}
.vmist-advantage {
  padding: 156px 120px;
}
.advantage-size {
  width: calc((100%-72px) / 4);
}
.vmist-team {
  background: var(--cloud, #f4f4fd);
  height: 732px;
  padding: 156px 120px;
}
.team-items {
  display: flex;
  text-align: center;
  width: calc((100%-72px) / 4);
  column-gap: 24px;
}
